/* Main css */
/*
* 1. General
* 2. Main Classes
* 3. Structure
*/
:root {
    --primary : #eb7206;

}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Montserrat','Nunito', sans-serif;
  line-height: 1.2;
  color: #484848; }
  h1 small,
  h1 .small, h2 small,
  h2 .small, h3 small,
  h3 .small, h4 small,
  h4 .small, h5 small,
  h5 .small, h6 small,
  h6 .small,
  .h1 small,
  .h1 .small, .h2 small,
  .h2 .small, .h3 small,
  .h3 .small, .h4 small,
  .h4 .small, .h5 small,
  .h5 .small, .h6 small,
  .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #484848;
    font-weight: 400; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
  .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
    color: #484848;
    font-weight: 400; }

h1, h2, h3, h4
.h1, .h2, .h3, .h4 {
  font-weight: bold; }

h5, h6,
.h5, .h6 {
  font-weight: bold;}

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 15px; }

h6, .h6 {
  font-size: 12px; }
p,
ul,
ol,
dl,
dt,
dd,
blockquote,
address {
  margin: 0 0 10px; }


*, html, body{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 16px;
}

a {
    text-decoration: none !important;
    color: black;
}


ul {
    padding: 0;
}

li{
    list-style-type: none;
}

.active {
    color: var(--primary) !important;
}
.white {
    color: white;
}
/* 2. Main Classses */

.img-fluid {
    display: block;
    height: auto;
    width: 100%;
}



#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 20px;
}

header .showcase{
    position: relative !important;
    max-height: 450px;
    overflow: hidden;
}
/* TODO showcase black overlay */
header .showcase img{
    /* max-height: 400px; */
    /* height: 100%;
    width: auto; */
    position: relative;
}
.blackOverlay{
    position: absolute;
    /* top: 0; */
    bottom: 0;
    /* z-index: 200; */
    height: 100%;
    width: 100%;
    top: 100%;
    background-color: rgba(0, 0, 0, .3);
}

#brand {
    width: 100px;
}


.btn {
    border: 1px solid var(--primary);
    border-radius: 30px;
    padding: 10px;
    background-color: var(--primary);
    color: white;
    font-weight: 400;

}
.btn:hover, .btn:active{
    border: 1px solid var(--primary);
    background-color: #fff;
    color: var(--primary);
}



#navBarSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    /* color: red; */
    position: relative;
    z-index: 2;
    bottom: 20px;
    left: 50%;
    height: 75px;
    top: -35px;
    transform: translate(-50%);
    box-shadow: 1px 1px grey !important;


}

#input_search{
    border:0;outline:0; width: 520px;
    outline:none!important;
    margin: 30px;
}

input{
    border: transparent;
    height: 40px;
}
input:after{
    border-style: none;
}
button[type=submit]{
    border: transparent;
    background-color: white;
}

/* Main Nav Icon Navbar */

nav#iconNavbar ul{
    display: flex;
    justify-content: space-evenly;

}


nav#iconNavbar ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



nav#iconNavbar ul li a div {
    /* margin-top: 5px; */
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid lightgrey;
    /* TODO make color a var of selected() */
}
nav#iconNavbar ul li.active a div {
    /* margin-top: 5px; */
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid var(--primary);
    /* TODO make color a var of selected() */
}

nav#iconNavbar ul li a div img{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* height: 100px; */
    width: 70px;
}

.iconItem p {
    font-weight: bold;
    text-align: center;
}
.iconItem.active p {

    color: var(--primary);
}

/* Main section Hotels à proximité */
section{
    margin: 30px 0px;
}

.sectionHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin: 10px 0;
}
/*  */
.flatLink {
    font-weight: 400;
    color: black;

}
.color {
    color: var(--primary);
}

/* Card */
.card {
    /* border: 1px solid grey; */
    background-color: white;
    box-shadow: 1px 1px  1px grey;
    border-radius: 3px;
    margin: 0 0px ;
    border: none;
    flex: 25%;
}

.card-img img{
    border-radius: 6px 6px 0 0;
    height: 100%;
    width: 100%;
}

.card-content {
    padding: 10px;
}
.rating {
    margin: 5px 0;
    display: flex;
    justify-content: start;
}
.rating img {
    height: 20px;
    width: 20px;
}
.rating span {
    margin-left: 5px;
}
/*  */
.card-footer-text {
    display: flex;

}
.card-footer-text img {
    /* height: 20px; */
    width: 15px;
    margin-right: 5px;
}
/* Section banner */
.banner-head {
    margin-bottom: 20px;
}
.banner-img {
    position: relative;
    height: 450px;
    background-color: black;
    background-image: url('../img/excursion.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .dark-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .4;
}

/*  */
.banner-img-overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    position: relative;
}
.banner-img-text {
    position: relative;
    top: 80%;
    transform: translate(0,-70%);
    /* left: 40px; */
}
.banner-img-text .title {
    font-size: xx-large;
    font-weight: bold;
    font-size: 2.5em;
}
.banner-img-text div {
    font-size: x-large;
    font-weight: 300;
}
/* 3. Structure */

/*  */
.spacer-10{
    margin: 30px 0 !important;
}

.display-container{

    height: 300px;
    position: relative;
    /* background-color: red !important; */
    overflow: hidden;
}

.display-container img{
    /* TODO */
    height: 300px;
    /* height: 100%; */
    width: auto;
}

.display-center{
    position: absolute;
    z-index: 3;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
}
.ovh {
    overflow: hidden;
    padding:0 8% 0 8%;
  }

.header_top.home3 .container-fluid{
    padding: 0 70px;
    position: relative;
    z-index: 9;
}

header.header-nav.menu_style_home_three .container-fluid{
    padding: 0 70px;
}

header.header-nav.menu_style_home_five .container-fluid{
    padding: 0 70px;
}

header.header-nav.menu_style_home_four.home8 .container-fluid{
    padding: 0 70px;
}

.container-fluid.style2{
    max-width: 1720px;
    width: 90%;
}

.our-dashbord.dashbord .container-fluid{
    padding-left: 3%;
    padding-right: 60px;
}


/*== Property Cities ==*/
.properti_city{
margin-bottom: 30px;
position: relative;
}
.properti_city:hover{
cursor: pointer;
}
.properti_city .thumb{
border-radius: 10px;
overflow: hidden;
position: relative;
}
.properti_city .thumb img{
-webkit-transition: all 0.6s ease;
-moz-transition: all 0.6s ease;
-o-transition: all 0.6s ease;
transition: all 0.6s ease;
}
.properti_city:hover .thumb img{
-webkit-transform: scale(1.1) rotate(-1deg);
-moz-transform: scale(1.1) rotate(-1deg);
-o-transform: scale(1.1) rotate(-1deg);
-ms-transform: scale(1.1) rotate(-1deg);
transform: scale(1.1) rotate(-1deg);
}
.properti_city .overlay{
background: -moz-linear-gradient(270deg, rgba(255,255,255,0.01) 0%, rgba(29,41,62,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.01)), color-stop(100%, rgba(29,41,62,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(255,255,255,0.01) 0%, rgba(29,41,62,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(270deg, rgba(255,255,255,0.01) 0%, rgba(29,41,62,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(270deg, rgba(255,255,255,0.01) 0%, rgba(29,41,62,1) 100%); /* ie10+ */
background: linear-gradient(180deg, rgba(255,255,255,0.01) 0%, rgba(29,41,62,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1d293e',GradientType=0 ); /* ie6-9 */
border-radius: 0px 0px 10px 10px;
bottom: 0;
height: 244px;
left: 0;
position: absolute;
right: 0;
text-align: center;
}
.properti_city .overlay .details{
bottom: 20px;
left: 0;
position: absolute;
right: 0;
}
.properti_city .overlay .details h4{
color: #ffffff;
font-size: 15px;
font-family: "Montserrat";
font-weight: bold;
line-height: 1.2;
}

.properti_city .overlay .details h4{
color: #ffffff;
font-size: 40px;
font-family: "Montserrat";
font-weight: bold;
line-height: 1.2;
}
.properti_city.home5 .overlay .details .left{
background-color: #ffffff;
border-radius: 17.5px;
-webkit-box-shadow:0px 0px 50px 0px rgba(32, 32, 32, 0.15);
-moz-box-shadow:0px 0px 50px 0px rgba(32, 32, 32, 0.15);
-o-box-shadow:0px 0px 50px 0px rgba(32, 32, 32, 0.15);
box-shadow:0px 0px 50px 0px rgba(32, 32, 32, 0.15);
float: left;
height: 35px;
margin-left: 30px;
padding: 0 30px;
position: relative;
text-align: center;
}
.properti_city.home5 .overlay .details .left:before{
background-color: rgba(255,255,255, .15);
border-radius: 17.5px;
bottom: -5px;
content: "";
left: -5px;
position: absolute;
right: -5px;
top: -5px;
}
.properti_city.home5 .overlay .details .left h4{
font-size: 16px;
font-family: "Montserrat";
color: #484848;
font-weight: bold;
line-height: 2.3;
margin: 0;
}
.properti_city.home5 .overlay .details p{
float: right;
margin-bottom: 0;
margin-right: 30px;
margin-top: 10px;
}
.properti_city.home5 .overlay .details{
bottom: 30px;
}
.properti_city.home6 .thumb .thmb_cntnt{
left: 8px;
position: absolute;
top: 20px;
}
.properti_city.home6 .overlay .details{
padding-left: 20px;
text-align: left;
}
.properti_city .overlay .details p{
    font-size: 14px;
    font-family: "Montserrat";
    color: #ffffff;
    line-height: 1.2;
}
.properti_city.style2{
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    padding: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.properti_city.style2:hover{
-webkit-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-moz-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-o-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
}
.properti_city.style2 .details{
padding: 20px 20px 10px;
text-align: center;
}
.properti_city.style2 .details p{
margin-bottom: 0;
}
.property_city_home6{
border: 1px solid #ebebeb;
border-radius: 8px;
background-color: #ffffff;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
margin-bottom: 30px;
overflow: hidden;
position: relative;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.property_city_home6:hover{
cursor: pointer;
-webkit-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-moz-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-o-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
}
.property_city_home6 .thumb{
position: relative;
}
.property_city_home6 .details{
padding: 50px 25px 0;
}


/* Footer */

.main-footer {
    -webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
    transition: transform .3s ease-in-out, margin .3s ease-in-out;
    margin-left: 230px;
    z-index: 820;
}

.layout-top-nav .content-wrapper,
.layout-top-nav .main-footer {
    margin-left: 0;
}

@media (min-width:768px) {
    .sidebar-collapse .content-wrapper,
    .sidebar-collapse .main-footer {
        margin-left: 0;
    }
}

.content-wrapper {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
}

.main-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}

.fixed .left-side,
.fixed .main-header,
.fixed .main-sidebar {
    position: fixed;
}

.fixed .main-header {
    top: 0;
    right: 0;
    left: 0;
}

.fixed .content-wrapper,
.fixed .right-side {
    padding-top: 50px;
}

@media (max-width:767px) {
    .content-wrapper,
    .main-footer {
        margin-left: 0;
    }
    .sidebar-open .content-wrapper,
    .sidebar-open .main-footer {
        -webkit-transform: translate(230px, 0);
        -ms-transform: translate(230px, 0);
        -o-transform: translate(230px, 0);
        transform: translate(230px, 0);
    }
    .fixed .content-wrapper,
    .fixed .right-side {
        padding-top: 100px;
    }
}

/*== 1st Layout Footer ==*/
.footer_one{
    padding: 80px 0 70px;
}
.footer_one {
background-color: #24324a !important;
}
.footer_middle_area{
    background-color: #1d293e;
}
.footer_bottom_area {
background-color: #484848;
}
.copyright-widget p {
/* font-size: 14px;
    font-family: "Montserrat"; */
color: #8a99b3;
/* line-height: 2.143; */
margin-bottom: 0;
}
.copyright-widget.home3 p,
.copyright-widget.home6 p{
color: #777777;
}
.footer_one.home3{
background-color: #ffffff;
border-bottom: 1px solid #e8eef2;
}
.footer_middle_area.home3{
background-color: #ffffff;
}
.footer_bottom_area.home3{
background-color: #ebeef4;
}
.footer_one.home4{
background-color: #f9fafc;
}
.footer_bottom_area.home3 .copyright-widget p,
.footer_bottom_area.home4 .copyright-widget p {
color: #969696;
}
.footer_bottom_area.home4{
background-color: #fafafa;
}
.footer_one.home5{
background-color: #232733;
border-bottom: 1px solid rgba(255,255,255, 0.102);
}
.footer_one.home8{
background-color: transparent;
}
.footer_one.home8:before{
background-image: url(../images/background/3.png);
-webkit-background-size: cover;
background-size: cover;
background-position: center center;
bottom: 0;
content: "";
left: 0;
position: absolute;
right: 0;
top: -75px;
z-index: -1;
}

/*== Footer Widget ==*/
.footer_about_widget p{
    font-size: 14px;
    font-family: 'Montserrat';
    color: #8a99b3;
    line-height: 2.143;
    margin-bottom: 0;
}
.footer_about_widget.home5 p,
.footer_qlink_widget.home5 li a,
.footer_contact_widget.home5 li a,
.footer_social_widget.home5 li a{
color: #98a2aa;
}
/* .footer_about_widget.home6 p,
.footer_qlink_widget.home6 li a,
.footer_contact_widget.home6 li a{
color: #777777;
} */
.footer_social_widget.home6 li a{
color: #484848;
}
/* .footer_about_widget.home3 p{
color: #777777;
} */
.footer_contact_widget li{
padding-bottom: 0;
}
.footer_qlink_widget{
padding-left: 70px;
}
.footer_about_widget h4,
.footer_qlink_widget h4,
.footer_contact_widget h4,
.footer_social_widget h4,
.footer_apps_widget h4{
    color: #e67e2a;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 18px;
/* font-family: 'Montserrat', sans-serif; */

}
.footer_about_widget.home3 h4,
.footer_qlink_widget.home3 h4,
.footer_contact_widget.home3 h4,
.footer_social_widget.home3 h4,
.footer_apps_widget.home3 h4{
        color: #484848;
        font-weight: bold;
        margin-bottom: 25px;
}
.footer_about_widget.home3 li a,
.footer_qlink_widget.home3 li a,
.footer_contact_widget.home3 li a{
color: #777777;
}
.footer_about_widget.home6 h4,
.footer_qlink_widget.home6 h4,
.footer_contact_widget.home6 h4,
.footer_social_widget.home6 h4,
.footer_apps_widget.home6 h4{
/* : "Nunito"; */
color: #484848;
font-weight: bold;
line-height: 1.333;
}
.footer_qlink_widget.home6 li:hover a{
color: #484848;
}
.footer_about_widget li a,
.footer_qlink_widget li a,
.footer_contact_widget li a{
font-size: 14px;
/* : "Nunito"; */
color: #8a99b3;
line-height: 2.429;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.footer_about_widget li:hover a,
.footer_qlink_widget li:hover a,
.footer_contact_widget li:hover a {
color: #ffffff;
padding-left: 8px;
}
.footer_apps_widget .app_grid .apple_btn,
.footer_apps_widget .app_grid .play_store_btn{
background-color: #484848;
border: none;
border-radius: 4px;
height: 75px;
margin-bottom: 15px;
margin-right: 0;
width: 220px;
}
.footer_apps_widget .app_grid .apple_btn:hover,
.footer_apps_widget .app_grid .play_store_btn:hover{
background-color: #eb7206;
}
.footer_apps_widget .app_grid .play_store_btn{
margin-bottom: 0;
}
.footer_apps_widget .app_grid .apple_btn span,
.footer_apps_widget .app_grid .play_store_btn span{
margin-right: 5px;
}
.footer_apps_widget .app_grid .apple_btn span.title,
.footer_apps_widget .app_grid .play_store_btn span.title{
color: #ffffff;
}
.footer_apps_widget .app_grid .apple_btn span,
.footer_apps_widget .app_grid .apple_btn span.subtitle,
.footer_apps_widget .app_grid .play_store_btn span,
.footer_apps_widget .app_grid .play_store_btn span.subtitle{
color: #969696;
}
.footer_apps_widget .app_grid .apple_btn:hover span,
.footer_apps_widget .app_grid .apple_btn:hover span.subtitle,
.footer_apps_widget .app_grid .play_store_btn:hover span,
.footer_apps_widget .app_grid .play_store_btn:hover span.subtitle{
color: #ffffff;
}
.footer_apps_widget.home3 .app_grid .apple_btn:hover,
.footer_apps_widget.home3 .app_grid .play_store_btn:hover{
background-color: #369fdb;
}
.footer_apps_widget .app_grid .apple_btn:focus,
.footer_apps_widget.home3 .app_grid .apple_btn:active,
.footer_apps_widget.home3 .app_grid .apple_btn:focus,
.footer_apps_widget.home3 .app_grid .play_store_btn:active,
.footer_apps_widget.home3 .app_grid .play_store_btn:focus{
box-shadow: none;
outline: none;
}
.logo-widget{
position: relative;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
}
.logo-widget span{
color: #ffffff;
font-family:  'Nunito', sans-serif;
font-size: 22px;
font-weight: bold;
padding-left: 15px;
margin-top: 10px;
text-transform: uppercase;
vertical-align: middle;
}
.logo-widget.home3 span{
color: #051925;
}
.logo-widget.home8 span{
background: linear-gradient(to right, #835bb4 0%, #d7cf96 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.footer_menu_widget ul{
margin-bottom: 0;
}
.footer_menu_widget ul li{
margin-right: 0 !important;
padding-right: 25px;
vertical-align: middle;
}
.footer_menu_widget ul li a{
font-size: 14px;
font-family: "Montserrat";
color: #8a99b3;
line-height: 2.143;
}
.footer_menu_widget ul li a:hover{
color: #ffffff;
}
.footer_menu_widget.home3 ul li a,
.footer_menu_widget.home6 ul li a{
color: #777777;
}
.footer_menu_widget.home5 ul li a,
.copyright-widget.home5 p{
color: #98a2aa;
}
.footer_menu_widget.home3 ul li a:hover,
.footer_menu_widget.home6 ul li a:hover{
color: #484848;
}
.footer_apps_widget.home3 h4,
.footer_about_widget.home4 h4,
.footer_qlink_widget.home4 h4,
.footer_contact_widget.home4 h4,
.footer_apps_widget.home4 h4,
.footer_one.home3 .footer_qlink_widget li:hover a,
.footer_one.home3 .footer_about_widget li:hover a,
.footer_one.home3 .footer_contact_widget li:hover a,
.footer_one.home4 .footer_qlink_widget li:hover a,
.footer_one.home4 .footer_about_widget li:hover a,
.footer_one.home4 .footer_contact_widget li:hover a{
color: #051925;
}
.footer_about_widget.home8 p{
    line-height: 30px;
}
.footer_one.home8:after{
background-color: #e2e9f0;
bottom: 80px;
content: "";
height: 1px;
left: 0;
position: absolute;
right: 0;
width: 100%;
}
.logo-widget.home8{
margin-left: 150px;
}
.footer_apps_widget .mailchimp_form .form-control {
background-color: #1a1a1a;
border: 1px solid transparent;
border-radius: 4px;
box-shadow: none;
color: #707070;
height: 52px;
width: 80%;
}
.footer_apps_widget .mailchimp_form button{
background-color: transparent;
border: transparent;
color: #484848;
height: 45px;
margin-left: -62px;
width: 45px;
}
.footer_qlink_widget.home5 h4,
.footer_apps_widget.home5 h4{
color: #ffffff;
}
.footer_one.home3 .footer_apps_widget .mailchimp_form button{
background-color: #1c327e;
}
.mailchimp_form.home5 .form-control {
background-color: #fafafa;
}
.footer_apps_widget.home6 .mailchimp_form .form-control{
background-color: #101219;
}
.footer_menu {
padding-left: 60px;
}
.footer_menu ul li:last-child {
border-radius: 4px;
}
.footer_menu ul li:last-child a{
background-color: transparent !important;
color: #7c7c7c;
padding-left: 20px;
}
.footer_menu ul li:last-child:hover a{
color: #7c7c7c;
}
.footer_menu ul li .bootstrap-select>.dropdown-toggle {
background-color: #2f2b2b;
box-shadow: none !important;
border: transparent;
color: #ffffff;
height: 45px;
line-height: 35px;
margin-left: 15px;
outline: none !important;
padding-left: 25px;
padding-right: 20px;
position: relative;
text-align: right;
white-space: nowrap;
width: 130px;
z-index: 1;
}
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
background-color: transparent;
box-shadow: none;
}
.footer_menu ul li .bootstrap-select .dropdown-toggle .filter-option {
outline: none;
}
.footer_menu ul li .bootstrap-select {
width: auto !important;
}
.footer_bottom_area.home3 .footer_menu ul li .bootstrap-select>.dropdown-toggle {
background-color: #1f2532;
}
.footer_bottom_area.home4 .footer_menu ul li .bootstrap-select>.dropdown-toggle{
background-color: #ededed;
border-radius: 22.5px;
color: #8b8b8b;
}
.footer_bottom_area.home5{
background-color: #ffffff;
}
.footer_bottom_area.home5 .footer_menu ul li .bootstrap-select>.dropdown-toggle{
background-color: #e6e6e6;
color: #8b8b8b;
}

.footer_social_widget {
position: relative;
}
.footer_social_widget li{
padding-right: 10px;
}
.footer_social_widget li a{
color: #8a99b3;
font-size: 16px;
font-family: "Montserrat","FontAwesome";
line-height: 1.2;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.footer_social_widget.home3 li a{
color: #777777;
}
.footer_social_widget li:hover a{
color: #ffffff;
}
.footer_social_widget.home3 li:hover a{
color: #eb7206;
}
.footer_mailchimp_form{
position: relative;
}
.footer_mailchimp_form .col-auto input.form-control{
background-color: #354765;
border: 1px solid #354765;
border-radius: 25px;
color: #ffffff;
height: 50px;
padding-left: 30px;
width: 195px;
}
.footer_mailchimp_form.home3 .col-auto input.form-control{
background-color: #e8eef2;
border: 1px solid #e8eef2;
color: #777777;
}
.footer_mailchimp_form.home5 .col-auto input.form-control{
background-color: #292d39;
border: 1px solid #292d39;
}
.footer_mailchimp_form.home6 .col-auto input.form-control{
background-color: #ffffff;
-webkit-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-moz-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-o-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
border: 1px solid #ffffff;
color: #484848;
}
.footer_mailchimp_form.home6 .col-auto input.form-control:hover,
.footer_mailchimp_form.home6 .col-auto input.form-control:focus,
.footer_mailchimp_form.home6 .col-auto input.form-control:active{
-webkit-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-moz-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-o-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
}
.footer_mailchimp_form .col-auto input.form-control:hover,
.footer_mailchimp_form .col-auto input.form-control:focus,
.footer_mailchimp_form .col-auto input.form-control:active{
box-shadow: none;
outline: none;
}
.footer_mailchimp_form .col-auto input.form-control::placeholder,
.footer_mailchimp_form .col-auto input.form-control:-ms-input-placeholder,
.footer_mailchimp_form .col-auto input.form-control::-ms-input-placeholder {
color: #8a99b3;
font-size: 14px;
}
.footer_mailchimp_form .col-auto button{
background-color: #354765;
border: 1px solid #354765;
border-radius: 50%;
height: 50px;
width: 50px;
}
.footer_mailchimp_form.home3 .col-auto button{
background-color: #3e4c66;
border: 1px solid #3e4c66;
color: #ffffff;
}
.footer_mailchimp_form.home5 .col-auto button{
background-image: -moz-linear-gradient( 0deg, rgb(250,124,65) 0%, rgb(255,101,101) 100%);
background-image: -webkit-linear-gradient( 0deg, rgb(250,124,65) 0%, rgb(255,101,101) 100%);
background-image: -ms-linear-gradient( 0deg, rgb(250,124,65) 0%, rgb(255,101,101) 100%);
border-radius: 50%;
height: 50px;
width: 50px;
}
.footer_mailchimp_form.home6 .col-auto button{
background-color: #ffffff;
border: 1px solid #ffffff;
-webkit-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-moz-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-o-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
color: #484848;
}
.footer_social_widget.home8 li a{
color: #969696;
}
.footer_social_widget.home8 li:hover a{
color: #484848;
}

/*== Footer Social Widget ==*/
.footer_social_widget {
    position: relative;
}
.footer_social_widget li{
padding-right: 10px;
}
.footer_social_widget li a{
color: #8a99b3;
font-size: 16px;
font-family: "Montserrat","FontAwesome";
line-height: 1.2;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.footer_social_widget.home3 li a{
color: #777777;
}
.footer_social_widget li:hover a{
color: #ffffff;
}
.footer_social_widget.home3 li:hover a{
color: #eb7206;
}
.footer_mailchimp_form{
position: relative;
}
.footer_mailchimp_form .col-auto input.form-control{
background-color: #354765;
border: 1px solid #354765;
border-radius: 25px;
color: #ffffff;
height: 50px;
padding-left: 30px;
width: 195px;
}
.footer_mailchimp_form.home3 .col-auto input.form-control{
background-color: #e8eef2;
border: 1px solid #e8eef2;
color: #777777;
}
.footer_mailchimp_form.home5 .col-auto input.form-control{
background-color: #292d39;
border: 1px solid #292d39;
}
.footer_mailchimp_form.home6 .col-auto input.form-control{
background-color: #ffffff;
-webkit-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-moz-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-o-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
border: 1px solid #ffffff;
color: #484848;
}
.footer_mailchimp_form.home6 .col-auto input.form-control:hover,
.footer_mailchimp_form.home6 .col-auto input.form-control:focus,
.footer_mailchimp_form.home6 .col-auto input.form-control:active{
-webkit-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-moz-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-o-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
}
.footer_mailchimp_form .col-auto input.form-control:hover,
.footer_mailchimp_form .col-auto input.form-control:focus,
.footer_mailchimp_form .col-auto input.form-control:active{
box-shadow: none;
outline: none;
}
.footer_mailchimp_form .col-auto input.form-control::placeholder,
.footer_mailchimp_form .col-auto input.form-control:-ms-input-placeholder,
.footer_mailchimp_form .col-auto input.form-control::-ms-input-placeholder {
color: #8a99b3;
font-size: 14px;
}
.footer_mailchimp_form .col-auto button{
background-color: #354765;
border: 1px solid #354765;
border-radius: 50%;
height: 50px;
width: 50px;
}
.footer_mailchimp_form.home3 .col-auto button{
background-color: #3e4c66;
border: 1px solid #3e4c66;
color: #ffffff;
}
.footer_mailchimp_form.home5 .col-auto button{
background-image: -moz-linear-gradient( 0deg, rgb(250,124,65) 0%, rgb(255,101,101) 100%);
background-image: -webkit-linear-gradient( 0deg, rgb(250,124,65) 0%, rgb(255,101,101) 100%);
background-image: -ms-linear-gradient( 0deg, rgb(250,124,65) 0%, rgb(255,101,101) 100%);
border-radius: 50%;
height: 50px;
width: 50px;
}
.footer_mailchimp_form.home6 .col-auto button{
background-color: #ffffff;
border: 1px solid #ffffff;
-webkit-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-moz-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-o-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
color: #484848;
}
.footer_middle_area.home3 .footer_social_widget p {
color: #969ca9;
}
.footer_middle_area.home3 .footer_social_widget li a {
color: #969696;
}
.footer_middle_area.home3 .footer_social_widget li:hover a,
.footer_middle_area.home4 .footer_social_widget li:hover a {
color: #484848;
}
.footer_social_widget.home8 li a{
color: #969696;
}
.footer_social_widget.home8 li:hover a{
color: #484848;
}

/*== Funfact Counter ==*/
.funfact_one .icon{
    color: #ffffff;
    font-size: 70px;
    line-height: initial;
}
.funfact_one .details ul{
    margin-bottom: 0;
}
.funfact_one .details .timer,
.funfact_one .details ul li{
    color: #ffffff;
    font-family:'Montserrat','Nunito', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-right: -2px;
}
.funfact_one .details ul li:last-child{
    margin: 0;
}
.funfact_one .details h5{
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 0;
}
.funfact_one .timer {
    color: #ffffff;
    font-size: 25px;
}
.funfact_one p {
    margin-bottom: 0;
}
.funfact_one.home6 {
    text-align: center;
}
.funfact_one.home6 .icon{
    color: #1fbda5;
    font-size: 60px;
    line-height: normal;
    margin-bottom: 30px;
    margin-top: 6px;
}
.funfact_one.home6 .timer{
    color: #252834;
    font-size: 50px;
    font-weight: bold;
    line-height: normal;
}
.funfact_one.home6:hover .icon{
    color: #252834;
}
.brdr_left_right {
    position: relative;
}
.brdr_left_right:before {
    background-color: #383838;
    bottom: 0;
    content: "";
    height: 40px;
    left: -30px;
    position: absolute;
    top: 25px;
    width: 1px;
}
.brdr_left_right.home6:before{
    left: -15px;
}
.brdr_left_right.home3:before {
    background-color: #d5d6d8;
}
.footer_middle_area.home5 {
    background-color: #232733;
}
.footer_middle_area.home6 {
    background-color: #f0f0f0;
    position: relative;
}

.ht_right_widget ul li.list-inline-item:nth-child(2){
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    margin-left: 10px;
    padding-right: 15px;
    text-align: center;
}
.ht_left_widget ul li.list-inline-item:first-child{
margin-right: 25px;
}
.listing_single_property_compare ul li.list-inline-item{
margin-right: 25px;
text-align: center;
}

.footer_middle_area.home4{
    border-top: 1px solid #f0f0f0;
    background-color: #ffffff;
}

.pt30 {
    padding-top: 30px !important;
}

.pb30 {
    padding-bottom: 30px;
}

section .footer_middle_area  {
    padding: 60px 0px;
    position: relative;
}

.scrollToHome:hover {
    color: #ffffff;
}
.scrollToHome {
border-radius: 50%;
background-color: #141e2f;
bottom: 15px;
color: #8a99b3 !important;
display: none;
font-size: 14px;
height: 45px;
line-height: 40px;
padding: 3px 10px;
position: fixed;
right: 20px;
text-align: center;
width: 45px;
z-index: 99999;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
a.scrollToHome.home7{
background-color: #ffffff;
-webkit-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-moz-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
-o-box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
box-shadow:0px 0px 50px 0px rgba(19, 19, 28, 0.12);
color: #232733;
}
a.scrollToHome.home8{
right: 6%;
}

.flaticon-arrows:before { content: "\f12e"; }

.flaticon-arrows ::after, ::before {
box-sizing: border-box;
}
