/* Mobile */
/* @media only screen and (max-width: 599px) { */
@media only screen and (max-width: 762px) {
    /* Main css */
    /*
* 1. General
* 2. Main Classes
* 3. Structure
*/

    #brand {
        width: 80px;
    }




    nav#iconNavbar ul li a div {
        margin-top: 5px;
        position: relative;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 3px solid lightgrey;
    }
    nav#iconNavbar ul li.active a div {
        /* margin-top: 5px; */
        position: relative;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 3px solid var(--primary);
        /* TODO make color a var of selected() */
    }

    /* Navbar icon images */

    nav#iconNavbar ul li a div img {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        /* height: 100px; */
        width: 35px;
    }

    .iconItem p {
        display: none;
    }


    .rating img {
        height: 20px;
        width: 20px;
    }

    .rating span {
        margin-left: 5px;
    }


    .card-footer img {
        /* height: 20px; */
        width: 15px;
        margin-right: 5px;
    }


    .banner-img {
        position: relative;
        height: 300px;
        background-color: black;
        background-image: url('../img/excursion.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* Page Hotel detail */
    .slider-container .showcase-item {
        width: 30% !important;
    }

}

/* Tablet and desktops */
@media only screen and (min-width: 600px) {
    .card {
        float: 25% !important;
    }
}
