/* ========== Owl Carousel - Animate Plugin */
/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
 .owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:0}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:-webkit-transform .1s ease;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transform:scale(1.3,1.3);-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
 /**
  * Owl Carousel v2.2.0
  * Copyright 2013-2016 David Deutsch
  * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
  */
 .owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-nav{margin-top:10px}.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#eeeeee;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}
 
 /* Slider */
 @charset 'UTF-8';
 /* Slider */
 .slick-loading .slick-list{
   background: #fff url('../css/ajax-loader.gif') center center no-repeat;
 }
 /* Icons */
 @font-face{
   font-family: 'slick';
   font-weight: normal;
   font-style: normal;
   src: url('../fonts/slick.eot');
   src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), 
   url('../fonts/slick.woff') format('woff'), 
   url('../fonts/slick.ttf') format('truetype'), 
   url('../fonts/slick.svg#slick') format('svg');
 }
 /* Arrows */
 .slick-prev,
 .slick-next{
   font-size: 0;
   line-height: 0;
   position: absolute;
   top: 50%;
   display: block;
   width: 20px;
   height: 20px;
   padding: 0;
   -webkit-transform: translate(0, -50%);
   -ms-transform: translate(0, -50%);
   transform: translate(0, -50%);
   cursor: pointer;
   color: transparent;
   border: none;
   outline: none;
   background: transparent;
 }
 .slick-prev:hover,
 .slick-prev:focus,
 .slick-next:hover,
 .slick-next:focus{
   color: transparent;
   outline: none;
   background: transparent;
 }
 .slick-prev:hover:before,
 .slick-prev:focus:before,
 .slick-next:hover:before,
 .slick-next:focus:before{
   opacity: 1;
 }
 .slick-prev.slick-disabled:before,
 .slick-next.slick-disabled:before{
   opacity: .25;
 }
 .slick-prev:before,
 .slick-next:before{
   font-family: 'slick';
   font-size: 20px;
   line-height: 1;
   opacity: .75;
   color: white;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 .slick-prev{
   left: -25px;
 }
 [dir='rtl'] .slick-prev{
   right: -25px;
   left: auto;
 }
 .slick-prev:before{
   content: 'â†';
 }
 [dir='rtl'] .slick-prev:before{
   content: 'â†’';
 }
 .slick-next{
   right: -25px;
 }
 [dir='rtl'] .slick-next{
   right: auto;
   left: -25px;
 }
 .slick-next:before{
   content: 'â†’';
 }
 [dir='rtl'] .slick-next:before{
   content: 'â†';
 }
 /* Dots */
 .slick-dotted.slick-slider{
   margin-bottom: 30px;
 }
 .slick-dots{
   position: absolute;
   bottom: -25px;
   display: block;
   width: 100%;
   padding: 0;
   margin: 0;
   list-style: none;
   text-align: center;
 }
 .slick-dots li{
   position: relative;
   display: inline-block;
   width: 20px;
   height: 20px;
   margin: 0 5px;
   padding: 0;
   cursor: pointer;
 }
 .slick-dots li button{
   font-size: 0;
   line-height: 0;
   display: block;
   width: 20px;
   height: 20px;
   padding: 5px;
   cursor: pointer;
   color: transparent;
   border: 0;
   outline: none;
   background: transparent;
 }
 .slick-dots li button:hover,
 .slick-dots li button:focus{
   outline: none;
 }
 .slick-dots li button:hover:before,
 .slick-dots li button:focus:before{
   opacity: 1;
 }
 .slick-dots li button:before{
   font-family: 'slick';
   font-size: 6px;
   line-height: 20px;
   position: absolute;
   top: 0;
   left: 0;
   width: 20px;
   height: 20px;
   content: 'â€¢';
   text-align: center;
   opacity: .25;
   color: black;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 .slick-dots li.slick-active button:before{
   opacity: .75;
   color: black;
 }
 .slick-slider{
   position: relative;
   display: block;
   box-sizing: border-box;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
   -ms-touch-action: pan-y;
   touch-action: pan-y;
   -webkit-tap-highlight-color: transparent;
 }
 .slick-list{
   position: relative;
   display: block;
   overflow: hidden;
   margin: 0;
   padding: 0;
 }
 .slick-list:focus{
   outline: none;
 }
 .slick-list.dragging{
   cursor: pointer;
   cursor: hand;
 }
 .slick-slider .slick-track,
 .slick-slider .slick-list{
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   -o-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }
 .slick-track{
   position: relative;
   top: 0;
   left: 0;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 .slick-track:before,
 .slick-track:after{
   display: table;
   content: '';
 }
 .slick-track:after{
   clear: both;
 }
 .slick-loading .slick-track{
   visibility: hidden;
 }
 .slick-slide{
   display: none;
   float: left;
   height: 100%;
   min-height: 1px;
 }
 [dir='rtl'] .slick-slide{
   float: right;
 }
 .slick-slide img{
   display: block;
 }
 .slick-slide img:focus{
     outline: none;
 }
 .slick-slide.slick-loading img{
   display: none;
 }
 .slick-slide.dragging img{
   pointer-events: none;
 }
 .slick-initialized .slick-slide{
   display: block;
 }
 .slick-initialized .slick-slide:focus{
   outline: none;
 }
 .slick-loading .slick-slide{
   visibility: hidden;
 }
 .slick-vertical .slick-slide{
   display: block;
   height: auto;
   border: 1px solid transparent;
 }
 .slick-arrow.slick-hidden {
   display: none;
 }
 /*  ----------------------------------------------------------------
   MaxCycle (Fullscreen Slideshow for use with jQuery Cycle Plugin)
   ----------------------------------------------------------------  
   Demo at: http://www.aaronvanderzwan.com/maxcycle/
   Download and Info at: http://github.com/akv2/MaxCycle---jQuery-Plugin/
   Copyright (c) 2007-2011 Aaron Vanderzwan
   Dual licensed under the MIT and GPL licenses.
 */
 /*! Version: 2.0.73 (12-Oct-2012) MaxImage Slider */
 .mc-hide-scrolls{
   overflow:hidden;
 }
 .mc-cycle {
   height: 810px !important;
   left:0;
   overflow:hidden;
   top:-97px;
   width:100%;
   z-index:-1;
 }
 div.mc-image {
   /*NOTE: Mozilla flickers when fading and using 'all', so we have to be specific with what property we want to transition:
     If you are using fading transitions, use 'opacity: */
   -webkit-transition: opacity 1s ease-in-out; 
   -moz-transition: opacity 1s ease-in-out; 
   -o-transition: opacity 1s ease-in-out; 
   transition: opacity 1s ease-in-out;  
   /*If you are using horizontal slide transitions, use the following CSS:
   -webkit-transition: left 1s ease-in-out; 
   -moz-transition: left 1s ease-in-out; 
   -o-transition: left 1s ease-in-out; 
   transition: left 1s ease-in-out;*/  
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position:center center;
   background-repeat:no-repeat;
   height:100%;
   overflow:hidden;
   width:100%;
 }
 .mc-old-browser .mc-image {
   overflow:hidden;
 }